.card-body {
  background-color: #fff;
  border: #ffdd57;
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 2.375rem !important;
  border: 1.5px solid yellow;
}
.card {
  border-radius: 2.375rem !important;
  border: none !important;
}
